<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Películas</title>
</head>
<body>
<h1>Listado de Películas</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Puntuación</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pelicula : ${llistaPelicules}">
        <td th:text="${pelicula.id}">ID</td>
        <td th:text="${pelicula.titulo}">Título</td>
        <td th:text="${pelicula.puntuacion}">Puntuación</td>
        <td>
            <!-- Formulario para borrar -->
            <form th:action="@{/esborrarPelicula}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${pelicula.id}" />
                <button type="submit">Borrar</button>
            </form>
            <!-- Formulario para modificar -->
            <form th:action="@{/modificarPelicula}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${pelicula.id}" />
                <input type="text" name="titulo" placeholder="Nuevo Título" required/>
                <input type="number" name="puntuacion" step="0.1" placeholder="Nueva Puntuación" required/>
                <button type="submit">Modificar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/afegirPeliculaForm}">Agregar nueva película</a>
</body>
</html>
